.DS_STORE
internal/cliv2/cliv2.version
internal/embedded/cliv1/cliv1.version
internal/embedded/cliv1/snyk-*
internal/embedded/cliv1/embedded*.go
main
sbin
_bin
_cache
.dccache
.vscode
bin
internal/embedded/_data
