*  @snyk/hammer @snyk/snyk-open-source

# monorepo packages
packages/snyk-fix/ @snyk/tech-services
packages/snyk-protect/ @snyk/hammer
packages/cli-alert/ @snyk/hammer

README.md  @snyk/hammer
src/cli/commands/test/formatters/format-reachability.ts  @snyk/flow
help/  @snyk/hammer
src/cli/commands/test/iac-local-execution/ @snyk/cloudconfig
src/cli/commands/test/iac-output.ts @snyk/cloudconfig
src/cli/commands/test/iac-test-shim.ts @snyk/cloudconfig
src/lib/cloud-config-projects.ts @snyk/cloudconfig
src/lib/plugins/sast/ @snyk/sast-team
test/fixtures/sast/ @snyk/sast-team
test/jest/unit/snyk-code/ @snyk/sast-team
src/lib/iac/ @snyk/cloudconfig
src/lib/snyk-test/iac-test-result.ts @snyk/cloudconfig
src/lib/snyk-test/payload-schema.ts @snyk/cloudconfig
src/lib/snyk-test/run-iac-test.ts @snyk/cloudconfig
test/acceptance/cli-test/iac/ @snyk/cloudconfig
test/fixtures/container-projects/ @snyk/capsule
test/fixtures/iac/ @snyk/cloudconfig
test/smoke/spec/iac/ @snyk/cloudconfig
test/smoke/spec/snyk_code_spec.sh @snyk/sast-team
test/smoke/.iac-data/ @snyk/cloudconfig
test/jest/unit/iac-unit-tests/ @snyk/cloudconfig
test/jest/acceptance/iac/ @snyk/cloudconfig
src/lib/errors/invalid-iac-file.ts @snyk/cloudconfig
src/lib/errors/unsupported-options-iac-error.ts @snyk/cloudconfig
src/lib/errors/no-supported-sast-files-found.ts @snyk/sast-team
help/commands-docs/iac-examples.md @snyk/cloudconfig
help/commands-docs/iac.md @snyk/cloudconfig
test/jest/util/ @snyk/hammer
dangerfile.js @snyk/hammer
package.json @snyk/hammer
package-lock.json @snyk/hammer
config.default.js @snyk/hammer
webpack.common.js @snyk/hammer
webpack.dev.js @snyk/hammer
webpack.prod.js @snyk/hammer
lerna.json @snyk/hammer
/tsconfig.json @snyk/hammer
/tsconfig.settings.json @snyk/hammer
CODEOWNERS @snyk/hammer
/docker @snyk/hammer

