config.local.json
/.nyc_output/
/node_modules/
/packages/*/node_modules/
local.log
**/dist
/dist-docker
/pysrc
binary-releases
ts-cli-binaries
prepack
tmp
.DS_Store
!/test/fixtures/**/package-lock.json
.idea
.eslintcache
snyk-error.log
snyk-result.json
snyk_report.css
snyk_report.html
!/docker/snyk_report.css
cert.pem
key.pem
**/tsconfig.tsbuildinfo
__outputs__
*.tgz
/ts-binary-wrapper/LICENSE
/ts-binary-wrapper/README.md
/ts-binary-wrapper/SECURITY.md
/ts-binary-wrapper/src/generated

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# test fixture build artifacts
/test/acceptance/workspaces/**/project/
/test/acceptance/workspaces/**/target/
test/acceptance/workspaces/**/.gradle
test/**/.gradle
.iac-data
.dccache
!test/smoke/.iac-data
test-output
test-results
tap-output
.tap
# Jest
coverage
test/fixtures/basic-swift/.build
test/fixtures/basic-swift/Package.resolved
scripts/Brewfile.lock.json
test/fixtures/**/go.sum