config.local.json
/.nyc_output/
/node_modules/
local.log
/patches/
/dist
tmp
.DS_Store
/package-lock.json
!/test/fixtures/**/package-lock.json
.idea
.eslintcache
snyk-error.log
snyk-result.json
snyk_report.css
snyk_report.html
!/docker/snyk_report.css
