config.local.json
/.nyc_output/
/node_modules/
local.log
/patches/
**/dist
tmp
.DS_Store
/package-lock.json
!/test/fixtures/**/package-lock.json
.idea
.eslintcache
snyk-error.log
snyk-result.json
snyk_report.css
snyk_report.html
!/docker/snyk_report.css
cert.pem
key.pem
help/commands-md
help/commands-txt
help/commands-man
**/tsconfig.tsbuildinfo

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
# test fixture build artifacts
/test/acceptance/workspaces/**/project/
/test/acceptance/workspaces/**/target/
test/acceptance/workspaces/**/.gradle
test/**/.gradle
.iac-data
.dccache
!test/smoke/.iac-data
