node_modules
tmp

dist
/pysrc

fixtures
test-output
test-results
test/**/workspaces
.iac-data
.tap
src/cli/commands/test/iac/local-execution/parsers/hcl-to-json/parser.js
src/cli/commands/test/iac/local-execution/parsers/hcl-to-json-v2/parser.js

# Has empty lines for templating convenience
.github/PULL_REQUEST_TEMPLATE.md
