{
  "prepare": [
    "@semantic-release/npm",
    {
      "//": "adds a file to identify a build as a standalone binary",
      "path": "@semantic-release/exec",
      "cmd": "echo '' > dist/STANDALONE"
    },
    {
      "//": "build the alpine, macos, linux and windows binaries",
      "path": "@semantic-release/exec",
      "cmd": "pkg . -t node8-alpine-x64,node8-linux-x64,node8-macos-x64,node8-win-x64"
    },
    {
      "//": "shasum all binaries",
      "path": "@semantic-release/exec",
      "cmd": "shasum -a 256 snyk-linux > snyk-linux.sha256 && shasum -a 256 snyk-macos > snyk-macos.sha256 && shasum -a 256 snyk-win.exe > snyk-win.exe.sha256 && shasum -a 256 snyk-alpine > snyk-alpine.sha256"
    },
    {
      "//": "removes the file we use to identify a build as a standalone binary",
      "path": "@semantic-release/exec",
      "cmd": "rm dist/STANDALONE"
    }
  ],
  "publish": [
    "@semantic-release/npm",
    {
      "path": "@semantic-release/github",
      "assets": [
        {
          "path": "./snyk-linux",
          "name": "snyk-linux",
          "label": "snyk-linux"
        },
        {
          "path": "./snyk-linux.sha256",
          "name": "snyk-linux.sha256",
          "label": "snyk-linux.sha256"
        },
        {
          "path": "./snyk-macos",
          "name": "snyk-macos",
          "label": "snyk-macos"
        },
        {
          "path": "./snyk-macos.sha256",
          "name": "snyk-macos.sha256",
          "label": "snyk-macos.sha256"
        },
        {
          "path": "./snyk-win.exe",
          "name": "snyk-win.exe",
          "label": "snyk-win.exe"
        },
        {
          "path": "./snyk-win.exe.sha256",
          "name": "snyk-win.exe.sha256",
          "label": "snyk-win.exe.sha256"
        },
        {
          "path": "./snyk-alpine",
          "name": "snyk-alpine",
          "label": "snyk-alpine"
        },
        {
          "path": "./snyk-alpine.sha256",
          "name": "snyk-alpine.sha256",
          "label": "snyk-alpine.sha256"
        }
      ]
    }
  ]
}
