<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="maven" version="3.8.2" />
    <package id="gradle" version="6.8.3" />
    <package id="sbt" version="1.5.5" />
    <package id="awscli" version="2.4.12" />
    <package id="nodejs" version="16.14.2" />
    <package id="go" version="1.17.8" />
    <package id="mitmproxy" version="7.0.4" />
</packages>
