# Paste one fresh CircleCI junit.xml download URL per line (shard 0 first).
# These should come from the "acceptance-tests windows amd64" job.
# Copy to urls-windows.txt and run: ./scripts/test-timings/download-ci-junit-shards.sh --platform windows
https://circleci-tasks-prod.s3.us-east-1.amazonaws.com/.../0/test/reports/junit.xml?...
https://circleci-tasks-prod.s3.us-east-1.amazonaws.com/.../1/test/reports/junit.xml?...
https://circleci-tasks-prod.s3.us-east-1.amazonaws.com/.../2/test/reports/junit.xml?...
https://circleci-tasks-prod.s3.us-east-1.amazonaws.com/.../3/test/reports/junit.xml?...
