redirects: on
source https://nuget.org/api/v2

nuget FSharp.Core
nuget FSharp.Formatting
nuget FAKE
nuget SourceLink.Fake

nuget Argu
nuget Exira.ErrorHandling
nuget Microsoft.Owin.Host.HttpListener
nuget Microsoft.Owin.Hosting
nuget Microsoft.Owin.StaticFiles

github fsharp/FAKE modules/Octokit/Octokit.fsx
